# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
.gradle
/local.properties
.DS_Store
app/build
/captures
app/.externalNativeBuild/
push/build/
menulib/build/
.idea/
gradle/wrapper/gradle-wrapper.properties

